<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>mis noticias</h1>
        </div>
        <div>
            <ul class="navbar">
                <li class="btn-nav">boton1</li>
                <li class="btn-nav">boton2</li>
                <li class="btn-nav">boton3</li>
                <li class="btn-nav">boton4</li>
                <li class="btn-nav">boton5</li>
            </ul>

        </div>
    </div>
    <div class="container">
        <div class="left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod consectetur nisi! Distinctio expedita incidunt quisquam fugit inventore delectus omnis modi? Magni ex distinctio nam voluptatem doloremque nesciunt aut perferendis.</p>
        </div>
        <div class="center">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat voluptates rerum ipsum dolore, a odio dolores voluptatem atque! Minima, optio expedita! Harum, atque illum quo ipsa perferendis quasi? Officiis, doloremque!</p>
        </div>
        <div class="center">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat voluptates rerum ipsum dolore, a odio dolores voluptatem atque! Minima, optio expedita! Harum, atque illum quo ipsa perferendis quasi? Officiis, doloremque!</p>
        </div>
        <div class="center">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat voluptates rerum ipsum dolore, a odio dolores voluptatem atque! Minima, optio expedita! Harum, atque illum quo ipsa perferendis quasi? Officiis, doloremque!</p>
        </div>
        <div class="right"> 
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur aliquid sed, odit totam eum assumenda deserunt facere asperiores enim nostrum nisi esse cumque similique recusandae adipisci libero laudantium obcaecati ipsa?</p>
        </div>
        

    </div>
    
</body>
</html>